@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*
    START Global styles for certain components
*/
html {
    font-family: 'Poppins', sans-serif !important;
    --ion-font-family: 'Poppins', sans-serif !important;
}

ion-content {
    --background: var(--primary-paint);
    background-color: var(--primary-paint);
    --keyboard-offset: 0;
}

ion-header {
    background-color: var(--primary-paint) !important;
}

ion-input, ion-textarea {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    color: var(--primary-heading) !important;
}

ion-item.item-has-focus {
    border: 1px solid rgba(27, 109, 224, 0.5) !important;
}

ion-searchbar {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.625rem !important;
    --background: var(--primary-paint) !important;
    --border-radius: 0.75rem !important;
    --box-shadow: none !important;
    --placeholder-color: var(--placeholder-paint) !important;
    color: var(--search-color) !important;
    --icon-color: var(--icon-paint) !important;
    transform: scale(0.9);
    margin-left: -1.5rem !important;
    width: calc(100% + 3rem) !important;
}

/*ion-searchbar :first-child {*/
/*}*/
/*ion-searchbar :first-child input{*/
/*    padding-top: 2px !important;*/
/*    padding-bottom: 2px !important;*/
/*}*/
/*ion-searchbar :first-child ion-icon{*/
/*    transform: translateY(-15%) translateX(15%);*/
/*}*/

ion-infinite-scroll-content div.infinite-loading div.infinite-loading-spinner ion-spinner {
    transform: scale(2);
}

ion-toolbar {
    border-bottom-left-radius: 0.875rem !important;
    border-bottom-right-radius: 0.875rem !important;
}

ion-tabs {
    background-color: var(--primary-paint) !important;
}

ion-tab-bar {
    border-top-left-radius: 0.875rem !important;
    border-top-right-radius: 0.875rem !important;
}

ion-tab-button {
    --color-selected: var(--primary-button);
}

ion-button {
    --box-shadow: none;
    --background-activated: rgba(164, 177, 159, 0.2);
}

ion-refresher {
    z-index: 10000 !important;
}

ion-spinner {
    color: var(--primary-heading);
}

ion-item {
    --transition: none !important;
    --background: var(--input-bg);
}

ion-datetime {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.75rem !important;
}

ion-loading {
    backdrop-filter: blur(5px);
}

ion-modal {
    --background: none !important;
    --backdrop-opacity: 0.7 !important;
}

ion-modal ion-content {
    --background: var(--secondary-paint);
}

ion-modal ion-item {
    --border-style: none;
}


.auto-height {
    --height: auto;
}

.auto-height .ion-page {
    position: relative;
    display: block;
    contain: content;
}

.auto-height .ion-page .inner-content {
    max-height: 80vh;
    overflow: auto;
}

.custom-modal {
    --border-radius: 20px 20px 0 0;
    --background: var(--secondary-paint) !important;
}

.custom-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.custom-sub-modal {
    --border-radius: 20px 20px 0 0;
    --background: var(--secondary-paint) !important;
}

.custom-sub-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.custom-map-modal {
    --border-radius: 20px 20px 0 0;
    --background: var(--secondary-paint) !important;
}

.custom-map-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.custom-edit-staff-modal {
    --border-radius: 20px;
    --background: var(--secondary-paint) !important;
}

.staff-modal-bg {
    background: var(--staff-modal-paint) !important;
}

.custom-edit-table-modal {
    --border-radius: 20px;
    --background: var(--secondary-paint) !important;
}


.settings-popover {
    --min-width: 170px;
}

.settings-popover .popover-arrow::after {
    background: #E5E7EB !important;
}

.staff-settings-popover {
    --min-width: 185px;
}

.staff-settings-popover .popover-arrow::after {
    background: #E5E7EB !important;
}

.notifications-popover {
    --width: 65vw;
    --height: auto;
    --max-height: 35vh;
}

.notifications-popover .popover-arrow::after {
    background: #E5E7EB !important;
}

.table-tooltip-popover {
    --max-width: 65vw;
    --width: auto;
    --height: auto;
}

.table-tooltip-popover .popover-arrow::after {
    background: #E5E7EB !important;
}

.icon-choice-popover {
    --max-height: 50vh;
    --width: 250px;
}

.icon-choice-popover .popover-content {
    background: var(--input-bg) !important;
}

.undo-toast {
    --color: #FFF;
    --background: #222428;
    --box-shadow: none;
    opacity: 0.95;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    transition: top 0.3s ease-in;
}

.undo-toast-button {
    --color: var(--ion-color-primary);
}

.error-toast {
    --color: #FFF;
    --background: #E01B43;
    --box-shadow: none;
    opacity: 0.90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    transition: top 0.3s ease-in;
}

.success-toast {
    --color: #FFF;
    --background: #30a025;
    --box-shadow: none;
    opacity: 0.95;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    transition: top 0.3s ease-in;
}

ion-thumbnail {
    --border-radius: 11px;
}

ion-toggle {
    --background: #C1C9D2;
    --background-checked: var(--user-selected-color);
    --handle-height: 13px;
    --handle-width: 13px;
    --handle-spacing: 3px;
    --handle-background-checked: #FFF;
    height: 19px;
}

.scroll-content {
    padding-bottom: 0 !important;
}

.custom-category-alert .alert-button-group button {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem !important;
}

.custom-category-alert .alert-checkbox-icon.sc-ion-alert-ios {
    background-color: white;
}

.custom-category-alert .alert-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.125rem !important;
}

.custom-category-alert .alert-sub-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

.custom-category-alert .alert-checkbox-label {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}


/* UTILITY CLASSES */
.primary-button-background {
    --background: var(--primary-button) !important;
}

.blue-button-background {
    --background: #1b6de0 !important;
}

.primary-text-color {
    color: var(--primary-heading) !important;
}

.placeholder-text-color {
    color: var(--placeholder-paint)
}

.active-status-text-color {
    color: var(--active-status-color);
}

.border-primary {
    border-color: var(--primary-heading) !important;
}

.no-padding-top {
    --padding-top: 0 !important;
}

.vcenter {
    margin-top: 50%;
}

.small-icon-size {
    height: 15px;
    width: 15px;
}

.bg-danger {
    background: #e01b43;
}

.btn-bg-danger {
    --background: #e01b43;
    --background-activated: #d90e34;
}

.bg-empty {
    background: #10B981;
}

.btn-bg-empty {
    --background: #10B981;
    --background-activated: #0ea572;
}

.text-blue {
    color: #1b6de0;
}

.text-blue:active {
    color: #5991e0;
}

.text-danger {
    color: #e01b43;
}

.text-danger:active {
    color: #d95c75;
}

.my-auto {
    margin-left: auto;
    margin-right: auto;
}

.bg-transparent {
    --background: transparent !important;
}

.reset-button-size {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    margin: 0 !important;
    height: auto !important;
}

.radius-11px {
    border-radius: 11px !important;
}

ion-toggle.dark-toggle-checked {
    --background-checked: #1F1C2B;
}

.full-size {
    width: 100vw;
    height: 100vh;
}

.item-bg {
    --background: var(--input-bg);
    background: var(--input-bg);
}

.user-selected-color {
    color: var(--user-selected-color) !important;
    --color: var(--user-selected-color) !important;
}

.user-selected-paint {
    background: var(--user-selected-color) !important;
    --background: var(--user-selected-color) !important;
}

.smallButton {
    font-size: 0.75rem !important;
    --padding-top: 0 !important;
    --padding-start: 0.875rem !important;
    --padding-end: 0.875rem !important;
    --padding-bottom: 0 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    --color: #FFF;
    --background: var(--primary-button);
}

.item-border {
    border-bottom: 0.55px solid #c8c7cc !important;
}

.icon-popover-size {
    font-size: 1.4rem;
}

.scale2x {
    transform: scale(2);
}

.safe-mt {
    margin-top: var(--ion-safe-area-top);
}

.safe-mb {
    margin-bottom: var(--ion-safe-area-bottom);
}

.safe-pt {
    padding-top: var(--ion-safe-area-top);
}

.safe-pb {
    padding-bottom: var(--ion-safe-area-bottom);
}

/*
    END UTILITY CLASSES
*/

/*
    START Android specific styles
*/
/* Filter icon next to searchbar positioned center*/
.md .header-padding-bottom {
    padding-bottom: 0.75rem !important;
}

.md .filter-icon {
    margin-top: 0.55rem;
}

.md .pull-quarter-left {
    margin-right: 1rem !important;
}

.md .pull-right {
    margin-right: -0.25rem !important;
}

.md .transparent {
    background: transparent !important;
}

.md .margin-top-reset {
    margin-top: 0 !important;
}

.md ion-range.range-disabled::part(knob) {
    background: #E0E4E9 !important;
}

.md ion-range.range-disabled::part(bar) {
    background: #E0E4E9 !important;
}

.md ion-range.range-disabled::part(bar-active) {
    background: #E0E4E9 !important;
}


/*
    END Android specific styles
*/

/*
    START IOS specific styles
*/
/* Filter icon next to searchbar positioned center*/
.ios .margin-left-1 {
    margin-left: 0.75rem;
}

.ios .no-left-padding {
    padding-left: 0 !important;
}

.ios .lang-pl {
    padding-right: 0.375rem !important;
}

/*.ios ion-range.range-disabled::part(knob) {*/
/*    background: #E0E4E9 !important;*/
/*}*/

/*.ios ion-range.range-disabled::part(bar) {*/
/*    background: #E0E4E9 !important;*/
/*}*/

/*.ios ion-range.range-disabled::part(bar-active) {*/
/*    background: #E0E4E9 !important;*/
/*}*/

/*
    END IOS specific styles
*/

/*
    END Global styles for certain components
*/

/* Social icons styles */
.social-circle-size {
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

/*
    START ONBOARDING STYLES
*/

/* Font styles */
.onboarding-headings {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
}

.onboarding-paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}

/*
    END ONBOARDING STYLES
*/

/*
    START USER HEADER STYLES
*/

/* Toolbar text styles */
.main-toolbar-fade-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    font-size: 0.875rem;
}

.main-toolbar-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--primary-heading);
}

.sliding-filter-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-text);
    font-size: 0.7rem;
    opacity: 0.6;
}

.category-filter. {
    font-size: 0.9rem !important;
}

.sliding-filter-button {
    --border-radius: 10px;
    --box-shadow: none;
}

.sliding-filter-button-active {
    --background: var(--user-selected-color);
}

.sliding-filter-button-active::part(native) {
    color: #FFF;
}

.sliding-filter-button-inactive {
    --background: var(--secondary-button) !important;
}

.sliding-filter-button-inactive::part(native) {
    color: var(--primary-text);
}

.sliding-filter-button-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.65rem;
}

/*
    END USER HEADER STYLES
*/

/*
    START LOGIN/REGISTER STYLESs
*/
/* Text styles for login/register screens */
.main-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--primary-heading);
    font-size: 3.125rem;
}

.main-heading-smaller {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-heading);
    font-size: 1rem;
    letter-spacing: 0.5rem;
}

.secondary-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-heading);
    font-size: 1.25rem;
}

.utility-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    font-size: 0.6rem;
}

.fixed-utility-text {
    font-size: 0.625rem;
}

.button-text-black {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    --color: var(--primary-heading);
    font-size: 0.875rem !important;
    --padding-bottom: 1.75rem;
    --padding-top: 1.75rem;
}

.button-text-white {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    --color: #FFF;
    --padding-bottom: 1.75rem;
    --padding-top: 1.75rem;
    --background: var(--primary-button);
}

/* Login/Register buttons styles */
.auth-button-size {
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
}

.auth-button-border-radius {
    --border-radius: 17px;
}

/* Input styles */

.error-border {
    border: 2px solid red !important;
}

/*
    END LOGIN/REGISTER STYLES
*/


/*
    START SEARCH STYLES
*/
/* Text styles for login/register screens */
.background-white {
    background-color: var(--secondary-paint);
}

.cafe-card-border-radius {
    border-radius: 15px !important;
}

.cafe-card-image {
    height: 43px !important;
    width: 43px !important;
    border-radius: 11px !important;
}

.cafe-card-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.9rem !important;
    text-align: start;
}

.cafe-card-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 0.815rem !important;
}

.card-horizontal-ruler {
    border-top: solid 1px var(--horizontal-divider) !important;
    width: 100% !important;
}

/*
    END SEARCH STYLES
*/

/*
    START MODALS STYLES
*/
.container-modal {
    margin-top: -20px !important;
}

.modal-positioning {
    bottom: 0 !important;
}

.modal-thumbnail {
    height: 57px !important;
    width: 57px !important;
    object-fit: cover !important;
}

.ion-item-no-padding-x {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
}

.img-border-15 {
    border-radius: 15px !important;
}

.img-modal-gallery {
    height: 72px;
    width: 139px;
}

.modal-cafe-name-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 1.25rem !important;
}

.modal-cafe-offers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 0.75rem !important;
}

.modal-cafe-text-regular {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
    font-size: 0.75rem !important;
}

.modal-cafe-text-medium {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.875rem !important;
}

.button-see-more {
    --color: var(--primary-heading);
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.75rem;
    --padding-end: 1.75rem;
    --background: var(--secondary-button);
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.75rem !important;
    width: 100% !important;
}

.button-subscribe {
    --color: #FFF;
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.8rem;
    --padding-end: 1.8rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 0.75rem !important;
    width: 100% !important;
}

.modal-button-border {
    --border-radius: 17px;
}

.submodal-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 1.25rem !important;
}

.submodal-paragraph {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
    font-size: 0.875rem !important;
}

.submodal-paragraph-meidum {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.875rem !important;
}

.submodal-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-text) !important;
    font-size: 0.75rem !important;
}

.submodal-alert-time {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.75rem !important;
}

.button-cancel {
    --color: var(--primary-heading);
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 3.4rem;
    --padding-end: 3.4rem;
    --background: var(--secondary-button);
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.75rem !important;
    width: 100% !important;
}

.button-confirm {
    --color: #FFF;
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 2.85rem;
    --padding-end: 2.85rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 0.75rem !important;
    width: 100% !important;
}

/*
    END MODALS STYLES
*/

/*
    START CAFE SHOW STYLES
*/
.banner-image {
    height: 170px;
}

.popover-text-block {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    border-radius: 8px;
}

.cafe-show-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 1.815rem !important;
}

.cafe-show-offers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 0.875rem !important;
}

.cafe-show-menu-headers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
}

.accordion-list-box {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
    padding-right: 1rem;
    padding-left: 1rem;
}

.accordion-list-border-top {
    border-top: solid 0.5px var(--primary-border);
}

.accordion-list-border-bottom {
    border-bottom: solid 0.5px var(--primary-border);
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.button-subscribe-wide {
    --color: #FFF;
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 0.75rem !important;
    --box-shadow: none;
    --border-radius: 17px;
}


/*
    END CAFE SHOW STYLES
*/


/*
    START USER PROFILE STYLES
*/
.user-profile-header-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    color: #FFF !important;
    font-size: 1.25rem !important;
}

.user-profile-user-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 1rem !important;
}

.user-profile-username {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #FFF !important;
    font-size: 0.75rem !important;
}

.edit-avatar {
    height: 85px;
    width: 85px;
    border-radius: 19px;
    object-fit: cover;
}

.profile-avatar {
    height: 63px;
    width: 63px;
    border-radius: 19px;
    object-fit: cover;
}


/*
    END USER PROFILE STYLES
*/


/*
    START SETTINGS STYLES
*/
.settings-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    color: var(--primary-heading) !important;
    font-size: 1.25rem !important;
}

.settings-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-text) !important;
    font-size: 0.75rem !important;
}

.settings-item-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.875rem !important;
}

.flex-between {
    display: flex !important;
    justify-content: space-between !important;
}

.primary-icon-color {
    color: var(--primary-text);
}

.settings-icon-badge {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.settings-red-icon-color {
    background-color: #E01B43;
}

.settings-yellow-icon-color {
    background-color: #FFD700;
}

.settings-padding-icon-top {
    padding-top: 0.435rem;
}

.settings-on-off-text {

}

.no-border {
    --border-style: none !important;
}

.logout-button {
    --padding-top: 1.575rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.8rem;
    --padding-end: 1.8rem;
}

/*
    END SETTINGS STYLES
*/

/*
    START IMAGES STYLES
 */


/*
    END IMAGES STYLES
 */

/*
    START MENU STYLES
 */


/*
    END MENU STYLES
 */

/*
    START STAFF COMPONENTS STYLES
*/

/*
    START GLOBAL STYLES
*/
.wrap {
    padding: 1rem;
}


/*
    END GLOBAL STYLES
*/

/*
    START CATEGORY FORM STYLES
*/
.category-label {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    color: var(--primary-heading) !important;
    opacity: 0.5;
}


/*
    END CATEGORY FORM STYLES
*/

/*
    END STAFF COMPONENTS  STYLES
*/

/*
    START SWIPER  STYLES
*/
:root {
    --swiper-navigation-size: 44px
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 30px !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev'
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next'
}

.swiper-button-prev {
    left: 3px !important;
    right: auto;
    color: #f4f5f8 !important;
}

.swiper-button-next {
    right: 3px !important;
    left: auto;
    color: #f4f5f8 !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
}

.swiper-button-lock {
    display: none
}

/*
    END SWIPER STYLES
*/
/*
    START TABLE SECTIONS STYLES
*/
.staff-section-active {
    --color: white;
    background: var(--primary-button);
    font-weight: 500;
}

.staff-section-inactive {
    --color: var(--primary-button);
    background: var(--show-paint);
    font-weight: 500;
}

.user-section-active {
    --color: white;
    background: var(--user-selected-color);
    font-weight: 500;
}

.user-section-inactive {
    --color: var(--user-selected-color);
    background: var(--show-paint);
    font-weight: 500;
}

/*
    END TABLE SECTIONS STYLES
*/

/*
    START PLACEHOLDER SCREENS STYLES
*/
.placeholder-container {
    width: 100%;
}

.placeholder-heading-big {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

.placeholder-heading-small {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.placeholder-heading-extra-small {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.placeholder-heading-2extra-small {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

/*
    END PLACEHOLDER SCREENS STYLES
*/