@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*
    START Global styles for certain components
*/
ion-content {
    --background: #F6F7FB;
}

ion-header {
    background-color: #F6F7FB !important;
}

ion-input {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

ion-searchbar {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    --background: #F9F9F9 !important;
    --border-radius: 12px !important;
    --box-shadow: none !important;
}

ion-toolbar {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

ion-tabs {
    background-color: #F9F9F9 !important;
}

ion-tab-bar {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

ion-tab-button {
    --color-selected: #207DFF;
}

ion-modal ion-content {
    --background: #FFF;
}

ion-modal ion-item {
    --border-style: none;
}

.custom-modal {
    --max-height: 70vh;
    --height: 50vh;
    --border-radius: 20px 20px 0 0;
}

.custom-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

ion-thumbnail {
    --border-radius: 11px;
}

/*
    START Android specific styles
*/
/* Filter icon next to searchbar positioned center*/
.md .filter-icon {
    margin-top: 0.55rem;
}

/*
    END Android specific styles
*/

/*
    START IOS specific styles
*/
/* Filter icon next to searchbar positioned center*/
.ios .margin-left-1 {
    margin-left: 0.75rem;
}

/*
    END IOS specific styles
*/

/*
    END Global styles for certain components
*/

/* Social icons styles */
.social-circle-size {
    height: 37.5px;
    width: 37.5px;
    line-height: 43.5px;
    font-size: 16px;
}

/*
    START ONBOARDING STYLES
*/

/* Font styles */
.onboarding-headings {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.onboarding-paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0 1rem 0 1rem;
}

/* Text positioning styles */
.register-success-text-position {
    top: 325px;
    left: 5px;
}

.searching-example-text-position {
    top: 375px;
    left: 5px;
}

.cafe-preview-example-text-position {
    top: 345px;
    left: 5px;
}

.notification-example-text-position {
    top: 400px;
    left: 5px;
}

/*
    END ONBOARDING STYLES
*/

/*
    START USER HEADER STYLES
*/

/* Toolbar text styles */
.main-toolbar-fade-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #9EAAB7;
    font-size: 14px;
}

.main-toolbar-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.sliding-filter-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #9EAAB7;
    font-size: 12px;
    opacity: 0.6;
}

.sliding-filter-button {
    --border-radius: 12px;
    --box-shadow: none;
}

.sliding-filter-inactive-button {
    --background: #F6F7FB;
}

.sliding-filter-button-active {
    --background: #207DFF;
    --color: #FFF;
}

.sliding-filter-button-inactive {
    --background: #F6F7FB;
    --color: #9EAAB7;
}

.sliding-filter-button-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

/*
    END USER HEADER STYLES
*/

/*
    START LOGIN/REGISTER STYLESs
*/
/* Text styles for login/register screens */
.main-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #232B38;
    font-size: 50px;
}

.main-heading-smaller {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #232B38;
    font-size: 16px;
    letter-spacing: 8px;
}

.secondary-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #232B38;
    font-size: 20px;
}

.utility-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #9EAAB7;
    font-size: 10px;
}

.button-text-black {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    --color: #232B38;
    font-size: 14px !important;
    --padding-bottom: 28px;
    --padding-top: 28px;
}

.button-text-white {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    --color: #FFF;
    --padding-bottom: 28px;
    --padding-top: 28px;
    --background: #1B6DE0;

}

/* Login/Register buttons styles */
.auth-button-border-radius {
    --border-radius: 17px;
    --border-color: #f00;
}

/* Input styles */
.auth-input-background {
    --background: #F6F7FB;
}

/*
    END LOGIN/REGISTER STYLES
*/


/*
    START SEARCH STYLES
*/
/* Text styles for login/register screens */
.cafe-card-border-radius {
    border-radius: 15px !important;
}

.cafe-card-image {
    height: 42px !important;
    width: 42px !important;
    border-radius: 11px !important;
}

.cafe-card-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 14px !important;
}

.cafe-card-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #9EAAB7 !important;
    font-size: 12px !important;
}

.card-horizontal-ruler {
    border-color: #F3F3F3 !important;
    border-width: 1px !important;
    width: 100% !important;
}

/*
    END SEARCH STYLES
*/

/*
    START MODALS STYLES
*/
.modal-thumbnail {
    height: 57px !important;
    width: 57px !important;
}

.ion-item-no-padding-x {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
}

.img-border-15 {
    border-radius: 15px;
}

.img-modal-gallery {
    height: 72px;
    width: 139px;
}

.modal-cafe-name-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 20px !important;
}

.modal-cafe-offers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #9EAAB7 !important;
    font-size: 12px !important;
}

.modal-cafe-text-regular {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #232B38 !important;
    font-size: 12px !important;
}

.modal-cafe-text-medium {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #232B38 !important;
    font-size: 12px !important;
}

.button-see-more {
    --color: #232B38;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-start: 28px;
    --padding-end: 28px;
    --background: #F6F7FB;
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #232B38 !important;
    font-size: 12px !important;
}

.button-subscribe {
    --color: #FFF;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-start: 28px;
    --padding-end: 28px;
    --background: #1B6DE0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 12px !important;
}

.modal-button-border {
    --box-shadow: none;
    --border-radius: 17px;
}

.submodal-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 20px !important;
}

.submodal-paragraph {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #232B38 !important;
    font-size: 14px !important;
}

.submodal-paragraph-meidum {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #232B38 !important;
    font-size: 14px !important;
}

.submodal-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #9EAAB7 !important;
    font-size: 12px !important;
}

.submodal-alert-time {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #232B38 !important;
    font-size: 12px !important;
}

.button-cancel {
    --color: #232B38;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-start: 52px;
    --padding-end: 52px;
    --background: #F6F7FB;
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #232B38 !important;
    font-size: 12px !important;
}

.button-confirm {
    --color: #FFF;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-start: 39px;
    --padding-end: 39px;
    --background: #1B6DE0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 12px !important;
}

/*
    END MODALS STYLES
*/

/*
    START CAFE SHOW STYLES
*/
.banner-image{
    height: 170px;
    width: 335px;
}

/*
    END CAFE SHOW STYLES
*/