@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*
    START Global styles for certain components
*/
ion-content {
    --background: var(--primary-paint);
    --keyboard-offset: 0px;
}

ion-header {
    background-color: var(--primary-paint) !important;
}

ion-input {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
}

ion-searchbar {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    --background: var(--primary-paint) !important;
    --border-radius: 12px !important;
    --box-shadow: none !important;
    --placeholder-color	: var(--placeholder-paint) !important;
    --icon-color: var(--icon-paint) !important;
    transform: scale(0.9);
    margin-left: -1.5rem !important;
    width: calc(100% + 3rem) !important;
}

/*ion-searchbar :first-child {*/
/*}*/
/*ion-searchbar :first-child input{*/
/*    padding-top: 2px !important;*/
/*    padding-bottom: 2px !important;*/
/*}*/
/*ion-searchbar :first-child ion-icon{*/
/*    transform: translateY(-15%) translateX(15%);*/
/*}*/

ion-toolbar {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

ion-tabs {
    background-color: var(--primary-paint) !important;
}

ion-tab-bar {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

ion-tab-button {
    --color-selected: #207DFF;
}

ion-button {
    --box-shadow: none;
}

ion-modal ion-content {
    --background: var(--secondary-paint);
}

ion-modal ion-item {
    --border-style: none;
}

.custom-modal {
    --height: 410px;
    --border-radius: 20px 20px 0 0;
}

.custom-sub-modal {
    --height: 300px;
    --border-radius: 20px 20px 0 0;
}

.custom-map-modal {
    --height: 410px;
    --border-radius: 20px 20px 0 0;
}

.custom-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.custom-sub-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.custom-map-modal .modal-wrapper {
    position: absolute !important;
    bottom: 0 !important;
}

.error-toast {
    --background: #E01B43;
    --box-shadow: none;
    opacity: 0.90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    transition: top 0.3s ease-in;
}

.success-toast {
    --background: #30a025;
    --box-shadow: none;
    opacity: 0.95;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    transition: top 0.3s ease-in;
}

ion-thumbnail {
    --border-radius: 11px;
}

ion-toggle {
    --background: #C1C9D2;
    --background-checked: var(--primary-button);
    --handle-height: 13px;
    --handle-width: 13px;
    --handle-spacing: 3px;
    --handle-background-checked: #FFF;
    height: 19px;
}

.scroll-content {
    padding-bottom: 0 !important;
}

/*
    START Android specific styles
*/
/* Filter icon next to searchbar positioned center*/
.md .header-padding-bottom {
    padding-bottom: 0.75rem !important;
}

.md .filter-icon {
    margin-top: 0.55rem;
}

.md .pull-quarter-left {
    margin-right: 1rem !important;
}

.md .pull-right {
    margin-right: -0.25rem !important;
}

.md .transparent {
    background: transparent !important;
}

.md .margin-top-reset {
    margin-top: 0px !important;
}


/*
    END Android specific styles
*/

/*
    START IOS specific styles
*/
/* Filter icon next to searchbar positioned center*/
.ios .margin-left-1 {
    margin-left: 0.75rem;
}

/*
    END IOS specific styles
*/

/*
    END Global styles for certain components
*/

/* Social icons styles */
.social-circle-size {
    height: 30px;
    width: 30px;
    line-height: 36px;
    font-size: 16px;
}

/*
    START ONBOARDING STYLES
*/

/* Font styles */
.onboarding-headings {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.onboarding-paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0 1rem 0 1rem;
}

/* Text positioning styles */
.register-success-text-position {
    top: 40%;
}

.searching-example-text-position {
    top: 45%;
}

.cafe-preview-example-text-position {
    top: 40%;
}

.notification-example-text-position {
    top: 45%;
}

/*
    END ONBOARDING STYLES
*/

/*
    START USER HEADER STYLES
*/

/* Toolbar text styles */
.main-toolbar-fade-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    font-size: 14px;
}

.main-toolbar-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--primary-heading);
}

.sliding-filter-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-text);
    font-size: 0.7rem;
    opacity: 0.6;
}

.category-filter. {
    font-size: 0.9rem !important;
}

.sliding-filter-button {
    --border-radius: 10px;
    --box-shadow: none;
}

.sliding-filter-inactive-button {
    --background: var(--secondary-button);
}

.sliding-filter-button-active {
    --background: #207DFF;
    --color: #FFF;
}

.sliding-filter-button-inactive {
    --background: var(--secondary-button);
    --color: var(--primary-text);
}

.sliding-filter-button-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
}

/*
    END USER HEADER STYLES
*/

/*
    START LOGIN/REGISTER STYLESs
*/
/* Text styles for login/register screens */
.main-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--primary-heading);
    font-size: 50px;
}

.main-heading-smaller {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-heading);
    font-size: 16px;
    letter-spacing: 8px;
}

.secondary-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-heading);
    font-size: 20px;
}

.utility-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    font-size: 0.6rem;
}

.button-text-black {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    --color: var(--primary-heading);
    font-size: 14px !important;
    --padding-bottom: 28px;
    --padding-top: 28px;
}

.button-text-white {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    --color: #FFF;
    --padding-bottom: 28px;
    --padding-top: 28px;
    --background: var(--primary-button);
}

/* Login/Register buttons styles */
.auth-button-size {
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
}

.auth-button-border-radius {
    --border-radius: 17px;
    --border-color: #f00;
}

/* Input styles */
.auth-input-background {
    --background: var(--secondary-button);
}

.error-border {
    border: 2px solid red !important;
}

.logo-position-login {
    top: 5%;
}

.content-position-login {
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    .content-position-register {
        color: red !important;
    }
}

.content-position-register {
    color: blue !important;
}


/*
    END LOGIN/REGISTER STYLES
*/


/*
    START SEARCH STYLES
*/
/* Text styles for login/register screens */
.background-white {
    background-color: var(--secondary-paint);
}

.cafe-card-border-radius {
    border-radius: 15px !important;
}

.cafe-card-image {
    height: 43px !important;
    width: 43px !important;
    border-radius: 11px !important;
}

.cafe-card-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 0.9rem !important;
    text-align: start;
}

.cafe-card-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 13px !important;
}

.card-horizontal-ruler {
    border-top: solid 1px var(--horizontal-divider) !important;
    width: 100% !important;
}

/*
    END SEARCH STYLES
*/

/*
    START MODALS STYLES
*/
.container-modal {
    margin-top: -20px !important;
}

.modal-positioning {
    bottom: 0 !important;
}

.modal-thumbnail {
    height: 57px !important;
    width: 57px !important;
}

.ion-item-no-padding-x {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
}

.img-border-15 {
    border-radius: 15px;
}

.img-modal-gallery {
    height: 72px;
    width: 139px;
}

.modal-cafe-name-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 20px !important;
}

.modal-cafe-offers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 12px !important;
}

.modal-cafe-text-regular {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
}

.modal-cafe-text-medium {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
}

.button-see-more {
    --color: var(--primary-heading);
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.75rem;
    --padding-end: 1.75rem;
    --background: var(--secondary-button);
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
    width: 100% !important;
}

.button-subscribe {
    --color: #FFF;
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.8rem;
    --padding-end: 1.8rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 12px !important;
    width: 100% !important;
}

.modal-button-border {
    --border-radius: 17px;
}

.submodal-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 20px !important;
}

.submodal-paragraph {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
    font-size: 14px !important;
}

.submodal-paragraph-meidum {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 14px !important;
}

.submodal-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-text) !important;
    font-size: 12px !important;
}

.submodal-alert-time {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
}

.button-cancel {
    --color: var(--primary-heading);
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 3.4rem;
    --padding-end: 3.4rem;
    --background: var(--secondary-button);
    --background-activated: #bbbbbb;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
    width: 100% !important;
}

.button-confirm {
    --color: #FFF;
    --padding-top: 1.375rem;
    --padding-bottom: 1.375rem;
    --padding-start: 2.85rem;
    --padding-end: 2.85rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 12px !important;
    width: 100% !important;
}

/*
    END MODALS STYLES
*/

/*
    START CAFE SHOW STYLES
*/
.banner-image {
    height: 170px;
}

.popover-text-block {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border-radius: 8px;
}

.cafe-show-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-heading) !important;
    font-size: 29px !important;
}

.cafe-show-offers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-text) !important;
    font-size: 14px !important;
}

.cafe-show-menu-headers {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: var(--primary-heading) !important;
    font-size: 12px !important;
}

.accordion-list-box {
    margin-left: -16px !important;
    margin-right: -16px !important;
    padding-right: 16px;
    padding-left: 16px;
}

.accordion-list-border-top {
    border-top: solid 0.5px var(--primary-border);
}

.accordion-list-border-bottom {
    border-bottom: solid 0.5px var(--primary-border);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.button-subscribe-wide {
    --color: #FFF;
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    --background: var(--primary-button);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 12px !important;
    --box-shadow: none;
    --border-radius: 17px;
}


/*
    END CAFE SHOW STYLES
*/


/*
    START USER PROFILE STYLES
*/
.user-profile-header-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    color: #FFF !important;
    font-size: 20px !important;
}

.user-profile-user-name {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #FFF !important;
    font-size: 16px !important;
}

.user-profile-username {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #FFF !important;
    font-size: 12px !important;
}

.user-profile-picture {
    height: 63px;
    width: 63px;
    border-radius: 19px;
}

/*
    END USER PROFILE STYLES
*/


/*
    START SETTINGS STYLES
*/
.settings-heading {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    color: #000 !important;
    font-size: 20px !important;
}

.settings-fade-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--primary-text) !important;
    font-size: 12px !important;
}

.settings-item-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 14px !important;
}

.flex-between {
    display: flex !important;
    justify-content: space-between !important;
}

.primary-icon-color {
    color: var(--primary-text);
}

.settings-icon-badge {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.settings-red-icon-color {
    background-color: #E01B43;
}

.settings-yellow-icon-color {
    background-color: #FFD700;
}

.settings-padding-icon-top {
    padding-top: 7px;
}

.settings-on-off-text {

}

.no-border {
    --border-style: none !important;
}

.logout-button {
    --padding-top: 1.575rem;
    --padding-bottom: 1.375rem;
    --padding-start: 1.8rem;
    --padding-end: 1.8rem;
}

/*
    END SETTINGS STYLES
*/

/*
    START IMAGES STYLES
 */
.background-image-container {
    width: 100%;
    height: 100vh;
}

/*
    END IMAGES STYLES
 */